.home {
    z-index: 10;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}


.PageWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns */
  grid-gap: 20px; /* Adjusts the gap between the grid items */
  justify-items: center; /* Centers the items horizontally */
  align-items: start; /* Aligns the items to the start vertically */
  padding: 20px; /* Adds some padding around the grid */
  height: 80%;
  width: 80%;
}

.chat, .history, .articulate, .images {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center; 
  border: none; /* Removes the border */
  padding: 20px; /* Adds padding inside the buttons */
  text-align: center; /* Centers the text inside the buttons */
  font-size: 1.5rem; /* Sets the font size */
  height: 10rem;
  width: 10rem;
  background: rgba( 255, 130, 130, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
}

.images{
  border-radius: 16% 50% 50% 50% / 13% 50% 50% 50%;
}

.history{
  border-radius: 51% 49% 50% 17% / 50% 50% 50% 18%;
}

/* Additional styling for the links to remove default text decoration */
.PageWrapper a {
  text-decoration: none; /* Removes the underline from links */
  color: inherit; /* Inherits the font color from the parent element */
}

/* You may want to add :hover effects for better user interaction */
.PageWrapper a:hover .chat, 
.PageWrapper a:hover .history, 
.PageWrapper a:hover .articulate, 
.PageWrapper a:hover .images {
  background-color: #e8e8e8; /* Slightly changes color on hover */
}

/* CSS */
.chat{
  border-radius: 51% 49% 18% 51% / 50% 50% 21% 50%;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: box-shadow,transform;
}

.chat:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.chat:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.chat:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.articulate{
  border-radius: 51% 18% 51% 49% / 53% 18% 48% 47%;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: box-shadow,transform;
}

.articulate:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.articulate:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.articulate:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.history{
  border-radius: 51% 49% 50% 17% / 50% 50% 50% 18%;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: box-shadow,transform;
}

.history:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.history:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.history:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}