.doctor-search-page {
    height: 100%;
    width: 100%;
    background-image: url('../../assets/anypage.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
}

.searched-patient-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.searched-consultation {
    margin-left: 10rem;
}

.search-patient {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    width: 30%;
    border: 0.5px;
}

.search-patient-btn {
    background-color: rgba(228, 129, 129, 0.896);
    padding: 10px 20px;
    margin-left: 1rem;
    border-radius: 5px;
    font-weight: bold;
    border: 0px;
}

.search-patient-btn:hover {
    background-color: rgba(255, 97, 97, 0.77);
    cursor: pointer;
}

