body, html {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.signup-container {
 
  flex-direction: column;
  margin: auto; /* This will center your form in the middle of the page */
  padding: 2rem; /* Add some padding around your form */
  background: rgba( 115, 160, 237, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 10px;
  height: 400px;
  width: 400px;
  overflow: auto;
  border-radius: 20px;
}

.signup-container input,
.signup-container select {
  width: 100%; /* Full width */
  padding: 10px;
  margin-bottom: 1rem; /* Space between fields */
  border: 0px;
  border-radius: 5px;
  background: rgba( 199, 219, 255, 0.65 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border-radius: 10px;
}

.signup-container input[type="submit"] {
  background-color: #007BFF; /* Button color */
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  border: 0px;
}

.signup-container input[type="submit"]:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.signup-container input[type="submit"]:active {
  background-color: #004299; /* Even darker shade on active */
  border: 0px;
}

.signup-container label {
  font-size: 1rem; /* Label font size */
  color: #333; /* Label color */
  margin-bottom: .5rem; /* Space between label and input */
}

.signup-container .radio-container {
  display: flex; /* Aligns radio buttons inline */
  gap: 10px; /* Space between radio buttons */
  margin-bottom: 1rem;
}