/* SignupForm CSS */
.signup-container {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* Set a max-width for your form */
  margin: auto; /* This will center your form in the middle of the page */
  padding: 2rem; /* Add some padding around your form */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds subtle shadow around the form */
  background: white; /* Optional: if you want the form to have a different background */
  border-radius: 8px; /* Optional: rounds the corners of the form */
}

.signup-container input,
.signup-container select {
  width: 100%; /* Full width */
  padding: 10px;
  margin-bottom: 1rem; /* Space between fields */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px;
}

.signup-container input[type="submit"] {
  background-color: #007BFF; /* Button color */
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.signup-container input[type="submit"]:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.signup-container input[type="submit"]:active {
  background-color: #004299; /* Even darker shade on active */
}

.signup-container label {
  font-size: 1rem; /* Label font size */
  color: #333; /* Label color */
  margin-bottom: .5rem; /* Space between label and input */
}

.signup-container .radio-container {
  display: flex; /* Aligns radio buttons inline */
  gap: 10px; /* Space between radio buttons */
  margin-bottom: 1rem;
}