body {
    background-color: white;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.circle-1 {
    /* background-color: #FDAF76; */
    background: linear-gradient(to top right, #ffffff, #FDAF76);
    height: 60rem;
    width: 60rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-20%) translateY(-10%);
}

.circle-2 {
    /* background-color: #FF8484; */
    background: linear-gradient(to top right, #ffffff, #FF8585);
    height: 60rem;
    width: 60rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-5%) translateY(55%);
}

.login-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: absolute;
    top: 20%;
    right: 25%;
}
