#root {
    /* width: 100%; */
    padding: 0;
}

body {
    -color: rgba(255, 255, 255, 0);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.login-container {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.login-circle-1 {
    /* background-color: #FDAF76; */
    background: linear-gradient(to top right, #ffffff, #FDAF76);
    height: 60rem;
    width: 60rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-20%) translateY(-10%);
}

.login-circle-2 {
    /* background-color: #FF8484; */
    background: linear-gradient(to top right, #ffffff, #FF8585);
    height: 60rem;
    width: 60rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-5%) translateY(55%);
}

.login-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: absolute;
    top: 20%;
    right: 25%;
}

/* styles.css (or your CSS file) */

.logo-svg {
    width: 550px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: absolute;
    top: 10%;
    right: 25%;
    position: absolute; /* or absolute or fixed, depending on your layout needs */
  z-index: 9999;
  }
  
  /* Add more styles as needed */
.login-submit {
  border-radius: 50px;
  background: #dedede;
  box-shadow:  27px 27px 54px #bdbdbd,
               -27px -27px 54px #ffffff;
  color: black;
}

.login-submit:hover {
  background-color: #b9b9b9; /* Darker shade for hover effect */
}

.login-submit:active {
  background-color: #ffffff; /* Even darker shade to simulate the button being pressed */
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); /* Inner shadow for depth */
  transform: translateY(2px); /* Moves the button down slightly */
}
