body, html {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow: auto;
  height: 100vh;
  background-image: url('../../assets/signup.png');
}

/* Styling for the left column (message) */
.message {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: left;
  align-items: left;
  text-align: left;
  width: 40rem;
  margin-right: 30rem;
  color: #004299;
}

.message .header {
  margin-bottom: 1rem; /* Add some spacing between h1 and p */
  text-align: left;
}

.message h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: left;
}

.message p {
  font-size: 1.5rem;
}

/* Styling for the right column (signup-container) */
/* .signup-container {
  flex: 1;
  padding: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

#signup-form {
  width: 90%;
  text-align: left;
}

/* Add media query for responsive layout adjustments */

@media (max-width: 768px) {
  .Signup {
      flex-direction: column; /* Stack columns on smaller screens */
      align-items: center;
  }
}

.Signup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh; /* This will take the full height of the viewport */
}


.signup-container {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.signup-container::-webkit-scrollbar {
  display: none;
}

/* Specific styles for the sign-up form */

.sign-up-form h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 2rem;
}

.sign-up-form label {
  display: block;
  margin-bottom: .5rem;
  font-weight: bold;
}

.sign-up-form input {
  width: 10%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.sign-up-form input[type="submit"] {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.sign-up-form input[type="submit"]:hover {
  background-color: #0056b3;
}

.sign-up-form input[type="submit"]:active {
  background-color: #004299;
}

/* Styling for the login link below the form */
.login-link {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: #007BFF;
  cursor: pointer;
}

.login-link:hover {
  text-decoration: underline;
}

