body, html {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow: auto;
  max-height: 100vh;
  padding: 20px;
}


/* Styling for the left column (message) */
.message {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: left;
  align-items: left;
  text-align: left;
  width: 500px;
  margin-right: 100px;
}

.message .header {
  margin-bottom: 1rem; /* Add some spacing between h1 and p */
  text-align: left;
}

.message h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: left;
}

/* Styling for the right column (signup-container) */
.signup-container {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Specific styles for the sign-up form */
.sign-up-form {
  width: 80%; /* Adjust the width as necessary */
  max-width: 400px;
}

/* Add media query for responsive layout adjustments */
@media (max-width: 768px) {
  .Signup {
      flex-direction: column; /* Stack columns on smaller screens */
      align-items: center;
  }
}

.Signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 100vh; /* This will take the full height of the viewport */
}


.signup-container {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.signup-container::-webkit-scrollbar {
  display: none;
}

/* Specific styles for the sign-up form */

.sign-up-form h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 2rem;
}

.sign-up-form label {
  display: block;
  margin-bottom: .5rem;
}

.sign-up-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.sign-up-form input[type="submit"] {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.sign-up-form input[type="submit"]:hover {
  background-color: #0056b3;
}

.sign-up-form input[type="submit"]:active {
  background-color: #004299;
}

/* Styling for the login link below the form */
.login-link {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: #007BFF;
  cursor: pointer;
}

.login-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.message{
  font-weight: 600;
}


.message p{
  font-weight: 400;
}
