.consultation-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/signup.png');
  position: fixed;
  top: 0;
  left: 0;
}

.consultationDetails {
  width: 60vw;
  height: 60vh;
  margin: 1vw;
  padding: 1vw;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(253, 175, 118, 0.5);
  z-index: 10;
}
