.body .html{
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    max-height: 100vh;
    padding: 20px;
}
body{
    background-image: url(./assets/select-gender.png);
}

.select-gender {
    z-index: 10;
}

.gender-btn {
    margin: 0 1rem;
    border-radius:10px;
    border: 0;
    box-shadow:  0 0 10px 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 1rem;
}
