body {
    margin: 0;
}

#background-container {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#circle-up {
    /* background-color: #FDAF76; */
    background: radial-gradient(circle at center, #95CCFF, #996df0);;
    height: 50rem;
    width: 50rem;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(25%) translateY(-7%);
    filter: blur(3rem);

}

#circle-down {
    background: linear-gradient(to top right, #fa7474, #fc85bf);
    height: 40rem;
    width: 40rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-10%) translateY(35%);
    filter: blur(3rem);
}
