.history-page{
  z-index: 10;
}
.consultations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    padding: 10px;
}

.consultation {
  width: 20vw;
  margin: 2vw;
  padding: 1vw;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #FDAF76;
}

.consultation:hover { 
    transform: scale(1.1); 
    background-color: #FF8484;
    cursor: pointer;
}



.hereditary-conditions {
  width: 20vw;
  padding: 1vw;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #FDAF76;
}


.family-members {
  width: 20vw;
  padding: 1vw;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #FDAF76;
}
