.painPage{
  background-image: url('/src/assets/signup.png');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; 
}
#canvasDiv {
    background: rgba(120, 181, 160, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

  }

#container{
    border-radius: 20px;
}

.center-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  padding-bottom: 50px;
}

.center-container .undobutton{
  display: flex;
}

#button-container{
  display:flex;
  width: 90%;
  justify-content: space-around;
}

.butt{
  margin: 3% 0%;
}
