.map-pain-page {
  background-image: url('../../assets/mappain.png');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20rem;
}
.painPage{
  background-image: url('/src/assets/mappain.png');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; 
  height: 100%;
}
.pain_map_title{
  margin: 45% 0% 0% 0%;
}
#canvasDiv {
    background: rgba(120, 181, 160, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

  }

#container{
    border-radius: 20px;
}

.center-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.center-container .undobutton{
  display: flex;
}

#button-container{
  display:flex;
  width: 90%;
  justify-content: space-around;
}

.butt{
  margin: 3% 0%;
}

.diagram{
  position: fixed;
  top:15%;
  left:80%;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 70%;
  background: rgba( 115, 160, 237, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 15px;
  padding: 10px 0px;
  
}
.diagram img{
  padding: 10px 35px;

}
