@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.livechat {
    width: 600px;
    height: 450px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    z-index: 10;
    border-radius: 20px;
    background: rgba(39, 38, 38, 0.896);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;

  }
  body {
    margin: 0%;
    padding: 0%;
  }
  
  .joinChatContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .joinChatContainer h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .joinChatContainer input {
    width: 210px;
    height: 40px;
    margin: 7px;
    /* border: 2px solid #43a047; */
    border-radius: 15px;
    padding: 5px;
    font-size: 16px;
  }
  
  .joinChatContainer button {
    display: inline-block;
    padding: 24px 32px;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .joinChatContainer button:hover {
    background-color: rgba(255,255,255,0.2);
    border:0;
  }
  
  .chat-window {
    width: 500px;
    height: 620px;
  }
  
  .chat-window p {
    margin: 0;
  }
  .chat-window .chat-header {
    height: 45px;
    border-radius: 6px;
    background: #263238;
    position: relative;
    cursor: pointer;
  }
  .chat-window .chat-header p {
    display: block;
    padding: 0 1em 0 2em;
    color: #fff;
    font-weight: 700;
    line-height: 45px;
  }
  
  .chat-window .chat-body {
    height: calc(450px - (45px + 70px));
    border: 1px solid #263238;
    background: #fff;
  
    position: relative;
  }
  .chat-window .chat-body .message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .chat-window .chat-body .message-container::-webkit-scrollbar {
    display: none;
  }
  .chat-window .chat-body .message {
    height: auto;
    padding: 10px;
    display: flex;
  }
  
  .chat-window .chat-body .message .message-content {
    width: auto;
    height: auto;
    min-height: 40px;
    max-width: 120px;
    background-color: cornflowerblue;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  
  #other {
    justify-content: flex-start;
  }
  
  #other .message-content {
    justify-content: flex-start;
  }
  
  #other .message-meta {
    justify-content: flex-start;
    margin-left: 5px;
  }
  
  #you {
    justify-content: flex-end;
  }
  
  #you .message-content {
    justify-content: flex-end;
    background-color: #43a047;
  }
  
  #you .message-meta {
    justify-content: flex-end;
    margin-right: 5px;
  }

  .system-message{
    width: 100%;
    font-size: small;
    text-align: center;
    color: #607d8b;
  }
  
  .message-meta #author {
    margin-left: 10px;
    font-weight: bold;
  }
  
  .chat-window .chat-body .message .message-meta {
    display: flex;
    font-size: 12px;
    color: #607d8b;
  }
  
  .chat-window .chat-footer {
    height: 40px;
    border: 1px solid #263238;
    border-top: none;
    display: flex;
  }
  
  .chat-window .chat-footer input {
    height: 100%;
    flex: 85%;
    border: 0;
    padding: 0 0.7em;
    font-size: 1em;
    border-right: 1px dotted #607d8b;
  
    outline: none;
    font-family: "Open Sans", sans-serif;
  }
  
  .chat-window .chat-footer button {
    border: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    flex: 15%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 25px;
    color: lightgray;
  }
  
  .chat-window .chat-footer button:hover {
    color: #c0f7c3;
  }
  .hide {
    opacity: 0 !important;
  }
